@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Monsterrat";
    color: white;
}

.container-info{
    min-height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010;
    padding: 10px;
}

.history-text{
    font-family: "Monsterrat";
    font-size: 30px !important;
    color: white;
    margin-top: 60px;
}

.container-history{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010;
    padding: 100px 0;
    margin-top: 0px;
}

.historylogo{
    text-align: center;
}

.history{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.history-logo{
    color: white;
    font-family: "Monsterrat";
    text-align: center;
}

.history ul{
    list-style: none;
}

.history ul li{
    padding: 20px;
    background-color: #1e1f22;
    color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
}

.history ul li:last-child{
    margin-bottom: 0;
}

.history-content h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.history-content p{
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
}
.history-content .date{
    color: white;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

@media only screen and (min-width: 768px){
    .history::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: gray;
    }
    .history ul li {
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }

    .history ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
    }

    .history ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
    }
    .history ul li::after{
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: gray;
        border-radius: 50%;
        top: 0;
    }

    .history ul li:nth-child(odd)::after{
        transform: translate(50%,-50%);
        right: -30px;
    }

    .history ul li:nth-child(even)::after{
        transform: translate(-50%,-50%);
        left: -30px;
    }
    .history ul li:hover:after{
        background-color: aqua ;
    }
    .history-content .date{
        position:absolute;
        top: -30px;
    }
}